@model BookModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p><strong>@Model.AuthorFullname</strong></p>
<p>@Model.Description</p>
<p>Цена: <strong>@Model.Price</strong></p>
<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-outline-success" type="submit">В корзину</button>
</form>


